.container {
  padding: 0.6rem;
}

.gdoc-header {
  border-bottom: 0rem solid #8B8B8B;
  box-shadow: 0 0 1rem #202020;
}

.gdoc-brand {
  font-size: 2rem;
  font-family: serif;
}

.gdoc-brand__img {
  margin-right: 0.8rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  width: 7.5rem;
  height: 4.0rem;
}

.gdoc-brand__title {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
    font-size: 1.8rem;
}

.gdoc-brand__subtitle {
  margin-top: 0.2rem;
  color: #B5B5B5;
  font-size: 1.0rem;
}

/* Icons */

.gdoc_dicord {
  background: url('./icons/discord-mark-white.svg');
  background-repeat: no-repeat;
  margin-top: 5px;
  background-size: 90%;
}

/* Themes */

:root[color-theme="light"] {
  --header-background: #222C37;
  --footer-background: #222C37;
}
@media (prefers-color-scheme: light) {
  :root {
    --header-background: #222C37;
    --footer-background: #222C37;
  }
}

:root[color-theme="dark"] {
  --header-background: #222C37;
  --body-background: #3F3F3F;
  --accent-color-lite: #2E2E2E;
  --footer-background: #222C37;
}
@media (prefers-color-scheme: dark) {
  :root {
    --header-background: #222C37;
    --body-background: #3F3F3F;
	--accent-color-lite: #2E2E2E;
    --footer-background: #222C37;
  }
}

/*
 * Typewriter Effect
 *
 * Copied from https://css-tricks.com/snippets/css/typewriter-effect/
 */

.gdoc-brand__subtitle {
  overflow: hidden;
  white-space: nowrap;
  animation:
	typing 1.0s steps(40, end),
	blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
